[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
pymysql = "*"
player = "*"
requests = "*"
flask-mysqldb = "*"
season = "*"
flask-swagger-ui = "*"
python-dotenv = "*"
pytest = "*"
coverage = "*"

[dev-packages]
beautifulsoup4 = "*"
pandas = "*"
sqlalchemy = "*"

[requires]
python_version = "3.9"
