[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pl-api = {path = "./dist/pl_api-0.0.1-py3-none-any.whl"}
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.9"
